.header-bg{
    background: linear-gradient( rgba(0, 0, 0, 0.18), rgb(0, 0, 0) ), url(../img/untitled.jpg);
/*  linear-gradient( rgba(0, 0, 0, 0.78), rgb(0, 0, 0) ), */
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top:-30px;
}

.header-box{
    padding: 20px;
    color: aliceblue;
    background: linear-gradient( rgb(44, 16, 80), rgba(0, 0, 0, 0) );
}

.header-box ul{
    list-style: none;
}
